extends layout
block content
  div(class="container-fluid")
    h1= title
    - let forms = results
    div(class="row")
      each form,index in forms
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.manufacturer}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.model}
        div(class = "col-sm-2 bg-success" onclick=`buy(${index})`) #{form.price}
        hr
    script.     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }